
h1 {
    text-shadow: 1px 2px #22c3aa,2px 4px #aee2d9;
    text-align: center
}

td:nth-of-type(2n){
    text-align: left;
    /* background-color: #22c3aa; */
    padding-right: 40px;
    
}
td:nth-of-type(2n+1){
    text-align: right;
    /* background-color: #aee2d9; */
    font-weight: bold;
   
}
dt {
    font-weight: bold;
}
dd {
    margin-left: 0;
}
